/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

.firt-nav {
  border-top: solid 2px #3a5af7;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

header {
  background-color: #1c1c1c;
  color: #eaeaea;
  padding-left: 16px;
  padding-right: 16px;
}

a {
  font-size: 18px;
  border-bottom: solid 1px #3a5af7;
  padding: 11.5px 0px;
}

hr {
  color: #3a5af7;
}

main {
  background-color: #e1e7f6;
  padding-left: 16px;
  padding-right: 16px;
}

.button {
  font-size: 20px;
  background-color: #3a5af7;
  color: #eaeaea;
}

.button-3 {
  font-size: 30px;
  background-color: #fff;
  color: #3a5af7;
}

.card {
  background-color: #fff;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

/* ====================================
// base rules
// ==================================== */
